<!-- templates/ethernet.tmpl -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><i class="fa fa-signal fa-fw"></i> Ethernet</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            eth0
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" id="eth0-form" onsubmit="return saveProperties('eth0');">
                                        <div class="form-group">
                                            <label class="radio-inline">
                                                <input type="radio" name="eth0-method" id="eth0-method-dhcp" value="dhcp">dhcp
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="eth0-method" id="eth0-method-static" value="static" checked>static
                                            </label>
                                        </div>

					                              <div class="form-group">
                                            <label>Address</label>
                                            <input class="form-control" name="eth0-ip" id="eth0-ip" value="192.168.10.232">
                                        </div>

                                        <div class="form-group">
                                            <label>Netmask</label>
                                            <input class="form-control" name="eth0-netmask" id="eth0-netmask" value="255.255.255.0">
                                        </div>

                                        <div class="form-group">
                                            <label>Gateway</label>
                                            <input class="form-control" name="eth0-gateway" id="eth0-gateway" value="192.168.10.1">
                                        </div>

                                        <div class="form-group">
                                            <label>Dns server</label>
                                            <input class="form-control" name="eth0-dns" id="eth0-dns" value="8.8.8.8">
                                        </div>

					                              <button type="submit" class="btn btn-primary">Submit Button</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->


            <!-- /.row -->
            </div>
        </div>
        <!-- /#page-wrapper -->

<script>
var initValue = function(name) {
  $.get("/ethernet/eth0", function(data) {
    var config = JSON.parse(data);

    for (var k in config) {
      switch (k.toLowerCase())  {
        case "method":
          $("#" + name.toLowerCase() + "-method-" + config[k].toLowerCase()).prop("checked", true);
          break;
        case "dns":
          $("#" + name.toLowerCase() + "-dns").val(config[k]);
          break;
        default:
          $("#" + name.toLowerCase() + "-" + k.toLowerCase()).val(config[k]);
          break;
      }
    }
  });
}

var saveProperties = function(module) {
  var params = $('#' + module + '-form').serializeArray();

  var data = {};

  for (var i in params) {
    var name = params[i].name.replace(module + '-', "");
    data[name] = params[i].value;
  }

  console.log(JSON.stringify(data));

  $.post("/ethernet/eth0", JSON.stringify(data), function(data) {
    console.log(data);
  });
  return false;
}

</script>