<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>WC-S</title>
      <!-- Bootstrap Core CSS -->
      <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="/dist/css/sb-admin-2.css" rel="stylesheet">
      <!-- Custom Fonts -->
      <link href="/dist/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <div id="wrapper">
         <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/#">WC-S</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
               <li class="divider"></li>
               <li id="btn-restart">
                  <a href="#">
                     <div>
                        <i class="fa fa-refresh fa-fw"></i>
                        <strong>Restart</strong>
                     </div>
                  </a>
               </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
               <div class="sidebar-nav navbar">
                  <ul class="nav" id="side-menu">
                     <li>
                        <a href="/#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                     </li>
                     <li>
                        <a href="/network"><i class="fa fa-signal fa-fw"></i> Network<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                           <li>
                              <a href="/ethernet"><i class="fa fa-signal fa-fw"></i> Ethernet</a>
                           </li>
                        </ul>
                        <!-- /.nav-second-level -->
                     </li>
                     <li>
                        <a href="/setting"><i class="fa fa-gear fa-fw"></i> Setting<span class="fa arrow"></span></a>
                        <ul id="setting-modules" class="nav nav-second-level">
                           <li><a href="/setting/rs232">RS232</a></li>
                           <li><a href="/setting/tcp-server">TCP server</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="/update"><i class="fa fa-arrow-up fa-fw"></i> Update</a>
                     </li>
                  </ul>
               </div>
               <!-- /.sidebar-collapse -->
            </div>
         </nav>
         {{ yield }}
      </div>

      <div class="modal fade" id="modal-restart" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            System is restarting.<br/>
            This page will be refreshed in 15 seconds.
          </div>
        </div>
      </div>
      <!-- /#wrapper -->
      <!-- jQuery -->
      <script src="/dist/js/jquery.min.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="/dist/js/bootstrap.min.js"></script>
      <!-- Metis Menu Plugin JavaScript -->
      <script src="/dist/js/metisMenu.min.js"></script>
      <!-- Custom Theme JavaScript -->
      <script src="/dist/js/sb-admin-2.js"></script>
      <script src="/js/main.js"></script>
      {{range .JavaScriptFiles}}
        <script src="{{.}}"></script>
      {{end}}
      {{range .JavaScripts}}
        {{.}}
      {{end}}
   </body>
</html>